name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 10 # fetch all tags and branches
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}    
      - name: Install and set up Poetry
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
          echo "PATH=$HOME/.poetry/bin:$PATH" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          poetry install -vvv
          poetry add -D coverage
      - name: Lint with flake8
        run: |
          poetry run flake8
      - name: Tests and coverage
        run: |
          poetry run coverage run --source=release_tools tests/run_tests.py
          poetry run coverage report -m
          poetry run coverage xml
      - name: Send coverage report to codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
